<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
                      http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- import spring - hibernate configure file -->
    <!-- classpath*  import the file in the jar file (of sub modules)-->
    <import resource="classpath*:spring-context-template-management.xml"/>
    <import resource="classpath*:spring/spring-context-common.xml"/>
    <import resource="classpath:spring/spring-hibernate.xml"/>
    <!-- import spring - mvc configure file -->
    <import resource="classpath:spring/spring-mvc.xml"/>
    <!-- import spring - mvc configure file -->
    <import resource="classpath*:spring/spring-context-data-management.xml"/>
    <import resource="classpath*:spring/spring-context-user.xml"/>
    <!-- component scan package -->
    <!-- open aop autoproxy -->
    <aop:aspectj-autoproxy/>
    <bean class="org.springframework.scripting.support.ScriptFactoryPostProcessor"/>
    <bean class="com.oncore.web.init.DynamicTableInitor" id="dynamicTableInitor" init-method="init"  lazy-init="true"/>

</beans>
